  line-height: 1.5;
  color: black;
  margin:0;
}  
}

.header-container{
  width:100%;
  height:auto;
  background-color: gray;
  text-align: left;
}
.title{
  margin-left:10rem;
  font-size: 3rem;
  margin-top:0.5rem;
  width:45%;
  display: inline-block;
}
.cam{
  display: inline-block;
  width: 30%;
  text-align: right;
}

.post-head{
  width:30%;
  margin:auto;
  border: 1px solid rgb(218, 203, 203);
  position: relative;
  height:auto;
  margin-top:3rem;
  border-radius: 0.5rem;
}
.posthead-left{
  float:left;
  margin-left:1rem;
  margin-top:0.1rem;
}
.name , .location {
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  text-align: left;
}

.three-dot{
  float:right;
  margin-right:1rem;
  margin-top:1rem;
}

.post-image{
  width:100%;
  height:70%;
}

.likeshare-icon{
  text-align: left;
  margin-left:1rem;
  margin-top:1rem;
}

.share{
  margin-left:1.5rem;
}

.total-likes{
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.caption{
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.date{
  text-align: right;
  font-size: 0.8rem;
  margin-right:1rem;
}
